    <body>
        <header>
            <div>
                <div class="logo">
                    <a href="http://localhost:4200/registrar">
                        <img src="./[removal.ai]_tmp-64aca51dac564.png" alt="" srcset="">
                    </a>    
                </div>
            </div>

            <div>
                <div class="rotas">
                    <a class="a" href="http://localhost:4200/login">Logar</a>
                    <a class="a" href="http://localhost:4200/registrar">Registrar</a>
                </div>
            </div>
        </header>
        <main>
            <div class="containerLogin">
                <div class="boxLogin">
                    <h1 style="display:flex; justify-content: center;">Registrar</h1>
                    <div class="inputsLogin">
                        <input type="text" name="" id="" placeholder="Nome de usuario" [(ngModel)]="nome">
                        <input type="text" name="" id="" placeholder="Nome de usuario unico" [(ngModel)]="id">
                        <input type="email" name="" id="" placeholder="Email" [(ngModel)]="email">
                        <input type="password" name="" id="" placeholder="Senha" [(ngModel)]="password">
                    </div>
                    <div class="confirmarLogin">
                        <button (click)="cadastro()">Registrar</button>
                    </div>
                </div>
            </div>
        </main>

        <footer></footer>

    </body>