.boxLogin {
    background-color: #5F5AA2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    color: #F7ECE1;
    height: 350px;
    width: 300px;
    border-radius: 20px;
}

.inputsLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.containerLogin {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
}

input {
    font-family: 'Farro', sans-serif;
    text-decoration: none;
    background-color: transparent;
    border: solid 1px; 
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    color: #F7ECE1;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #4CAF50;
    color: #F7ECE1;
    font-weight: bold;
    font-family: 'Farro', sans-serif;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.confirmarLogin {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

input::placeholder {
    color: #f7ece196;
}

input:focus {
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}