@import url('https://fonts.cdnfonts.com/css/lovelo?styles=25962');

body{
    background-color:#380077;
    margin: 0;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: 'Lovelo', sans-serif;
    font-size: 60px;
    color: #90E9F0;
    -webkit-text-stroke-width: 2px;
}

button,
select {
    font-family: 'Lovelo', sans-serif;
    font-size: 20px;
    border-color: #000000 ;
    border-style: solid;
    background-color: #90E9F0;
    outline: none;
}

input {
    font-family: 'Lovelo', sans-serif;
    font-size: 20px;
    background-color: #90E9F0;
    border-color: #000000;
    border-style: solid;
    outline: none;
}

#linhaDeAdicionarTarefas {
    display: flex;
    justify-content: center;
}

.tarefasAdicionadas {
    display: flex;
    justify-content: space-between;
    font-family: 'Lovelo', sans-serif;
    font-size: 20px;
    margin-right: 17px;
    color: #90E9F0;
}
  
.tarefa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoria{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

header{
    background-color: black;
    width: 100% ;
    display: flex;
    justify-content: center;

}