@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');

body {
  font-family: 'Farro', sans-serif;
  background-color: #CBE4D3;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: #A3C4BC;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #1A090D;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.rotas a {
  padding-right: 30px;
  padding-left: 20px;

}
.logo a {
  padding-left: 20px;
}
