<body>
  <header>
    <div>
        <div class="logo">
            <a href="http://localhost:4200/registrar">Todo App</a>
        </div>
    </div>
    <div>
      <div class="rotas">
          <a href="http://localhost:4200/registrar">Categoria</a>
      </div>
  </div>
  </header>
  <br>
  <br>
  <h1 class="titulo2">Tarefas</h1>
  <div id="linhaDeAdicionarCategorias">
    <input maxLength="15" placeholder="Nome da tarefa" [(ngModel)]="tarefa.nome">
    <select name="" id="" [(ngModel)]="tarefa.categoria">
      <option *ngFor="let categoria of categorias" [value]="categoria.nome">{{ categoria.nome }}</option>
    </select>
    <button (click)="adicionarTarefa()">Cadastrar</button>
  </div>

  <div class="tarefasAdicionadas">
    <div *ngFor="let cate of categorias" (dragover)="allowDrop(cate.nome, $event)" (drop)="drop($event)">
      <h1 style="display:flex;justify-content:center">{{ cate.nome }}</h1>
      <div *ngFor="let trf of tarefas; index as index">
        <div class="tarefa" *ngIf="trf.categoria === cate.nome">
          
          <div draggable="true" (dragstart)="drag(trf)" (drop)="dropEvent($event, index)">
            <h3>
              Nome da tarefa: {{ trf.nome }}
              <br>
            </h3>
            <div style="display:flex; justify-content:center;">
              <button (click)="editarTarefa()" >Editar</button>
              <button (click)="removerTarefa(trf.id)">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
