<body style="width: 100%;height: 100%;">

  <header>
    <H1 class="titulo">
      TODO APP
    </H1>
  </header>
  <br>

  <div id="linhaDeAdicionarTarefas">
    <input maxLength="15" placeholder="Nome" [(ngModel)]="tarefa.nome">
    <select name="" id="" [(ngModel)]="tarefa.categoria">
      <option value="To do">To do</option>
      <option value="Doing">Doing</option>
      <option value="Done">Done</option>
    </select>
    <button (click)="cadastrarTarefa()">Cadastrar </button>
  </div>

  <div class="tarefasAdicionadas">

    <div class="tarefa">
      <h1>To do</h1>

      <div *ngFor="let trf of tarefas;">

        <div *ngIf="trf.categoria === 'To do'">
          <h3>
            Nome da tarefa: {{trf.nome}}
            <br>
            Numéro da tarefa: {{trf.id}}
            <br>
            Categoria da tarefa: {{trf.categoria}}
            <br>

            <select name="" id="" [(ngModel)]="trf.categoria">
              <option value="To do">To do</option>
              <option value="Doing">Doing</option>
              <option value="Done">Done</option>
            </select>

            <br>

            <button (click)="removerTarefa(trf.id)">Remover</button>
          </h3>
        </div>
      </div>
    </div>

    <div class="tarefa">
      <h1>Doing</h1>

      <div *ngFor="let trf of tarefas;">

        <div *ngIf="trf.categoria === 'Doing'">
          <h3>
            Nome da tarefa: {{trf.nome}}
            <br>
            Numéro da tarefa: {{trf.id}}
            <br>
            Categoria da tarefa: {{trf.categoria}}
            <br>

            <select name="" id="" [(ngModel)]="trf.categoria">
              <option value="To do">To do</option>
              <option value="Doing">Doing</option>
              <option value="Done">Done</option>
            </select>

            <br>

            <button (click)="removerTarefa(trf.id)">Remover</button>
          </h3>
        </div>
      </div>

    </div>

    <div class="tarefa">
      <h1>Done</h1>

      <div *ngFor="let trf of tarefas;">

        <div *ngIf="trf.categoria === 'Done'">
          <h3>
            Nome da tarefa: {{trf.nome}}
            <br>
            Numéro da tarefa: {{trf.id}}
            <br>
            Categoria da tarefa: {{trf.categoria}}
            <br>

            <select name="" id="" [(ngModel)]="trf.categoria">
              <option value="To do">To do</option>
              <option value="Doing">Doing</option>
              <option value="Done">Done</option>
            </select>

            <br>

            <button (click)="removerTarefa(trf.id)">Remover</button>
          </h3>
        </div>
      </div>

    </div>

  </div>
</body>